.outline-custom:focus {
    outline: none !important;
    border: none !important;
    --tw-ring-color: none;
    --tw-ring-offset-shadow: none;
    overflow: hidden !important;
    /* resize: none !important; */
}

